/**
* Using vencord? add this url 
* https://github.com/happyendermangit/discord-themes/raw/main/RemoveUglyDiff.theme.css
* Using betterdiscord? Download this gist and 
* add it to %appdata%/betterdiscord/themes folder
**/

.theme-dark .hljs-addition{
    color: #687807, !important;
}
.theme-dark hljs-deletion{
    color:#B32821 !important
}

.theme-light .hljs-addition{
    color: #687807, !important;
}
.theme-light hljs-deletion{
    color:#B32821 !important
}

